.cards {
  padding: 20px 0 40px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}
.cards__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  justify-content: center;
  padding: 0;
  margin: 0;
  gap: 40px 20px;
}
@media screen and (max-width: 630px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 288px);
  }
}
