.cards {
  margin: 20px auto 36px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}
.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0 auto 40px;

  gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
}
