.card {
  max-width: 413px;
}
.card__image {
  height: 413px;
  width: 413px;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}
.card__content {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__title {
  margin: 12px 0 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
}
.card__like-button {
  background-image: url(../images/spots-images/Like\ Icon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: 12px;
  padding: 0;
  width: 23px;
  height: 20px;
  border: none;
  background-position: cover;
}
