.card {
  position: relative;
}
.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__content {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
}
.card__delete-btn {
  background-image: url(../images/spots-images/delete.svg);
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 10px;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
.card__delete-btn:hover {
  background-image: url(../images/spots-images/deleteHover.svg);
}
.card__title {
  margin: 12px 0 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  display: -webkit-box;
  overflow: hidden;
  line-height: 1.2;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  flex-wrap: nowrap;
}
.card__like-button {
  background-image: url(../images/spots-images/LikeIcon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  margin: 12px 0 0;
  padding: 0;
  width: 23px;
  height: 20px;
  border: none;
  opacity: 40%;
  cursor: pointer;
}
.card__like-button_active {
  background-image: url(../images/spots-images/like-noHover.svg);
  opacity: 1;
}
.card__like-button:hover {
  opacity: 100%;
}
.card__like-button_active:hover {
  opacity: 0.4;
}
@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
    width: 100%;
  }
  .card__title {
    max-width: 235px;
  }
}
