.card__image {
  height: 413px;
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  display: block;
}

.card__content {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card__title {
  margin: 12px 0 0;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-width: 380px;
}
.card__like-button {
  background-image: url(../images/spots-images/LikeIcon.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  margin-top: 12px;
  padding: 0;
  width: 23px;
  height: 20px;
  border: none;
  background-position: cover;
  opacity: 40%;
}
.card__like-button:hover {
  opacity: 100%;
  cursor: pointer;
}
@media screen and (max-width: 630px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
}
