.footer__copyright {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  background-color: #fcf5e5;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
}
