.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_is-opened {
  visibility: visible;
}
.modal__container {
  padding: 32px 50px;
  position: relative;
  background-color: #fff;
  max-width: 730px;
  width: 100%;
  border-radius: 6px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__title {
  margin: 0 0 32px;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 32px;
}
.modal__label {
  display: flex;
  flex-direction: column;
  width: 630;
  height: 52;
  gap: 8px;
  margin-bottom: 32px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  line-height: 110.00000000000001%;
  color: #212121b2;
  margin-bottom: 32px;
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  width: 40px;
  height: 40px;
  opacity: 40%;
}
.modal__input {
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  color: #2121214d;
  padding: 16px 12px;
  border-radius: 8px;
}
.modal__save-btn {
  width: 156px;
  height: 52px;
  opacity: 1;
  border-radius: 8px;
  padding: 18px 32px;

  gap: 8px;
  background-color: #212121;
  color: #fff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (max-width: 630px) {
  .modal__container {
    padding: 12px;
    margin: 0 10px;
  }
  .modal__form {
  }

  .modal__save-btn {
    width: 100%;
  }
  .modal__title {
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    margin-top: 22px;
  }
  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
}
