.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition:
    visibility 0.3s linear,
    opacity 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
}
.modal__container {
  max-width: 730px;

  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
}

.modal__close-btn {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  align-self: center;
  position: absolute;
  top: 32px;
  right: 50px;
  cursor: pointer;
}
.modal__close-btn:hover {
  opacity: 0.4;
}

.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;

  color: #212121b2;
}
.modal__input {
  display: block;
  box-sizing: border-box;
  margin: 8px 0 8px;
  border: 1px solid #21212166;

  padding: 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  max-width: none;
  width: 100%;
}
.modal__input_type_error {
  border: 1px solid #ff000099;
}
.modal__error {
  color: #ff0000b2;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  gap: 8px;
}
.modal__input::placeholder {
  color: #2121214d;
}
.modal__save-btn {
  max-width: 156px;
  height: 52px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
.button_inactive {
  background: #212121;
  opacity: 0.5;
}
.button_inactive:hover {
  background: #212121;
  cursor: pointer;
}
.modal__save-btn:hover {
  opacity: 0.4;
}
.modal__image-container {
  position: relative;
  flex-direction: column;
  border-radius: 8px;
  margin: 0;
  object-fit: contain;
}
.modal__close-btn_type_preview {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  right: -82.5px;
  opacity: 1;
  cursor: pointer;
  border: none;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.4;
}
.modal__caption {
  color: white;
  background-color: #212121;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  padding: 4px 8px;
  margin: 8px 0;
  border-radius: 8px;
  flex-shrink: 1;
  width: fit-content;
}
.modal__image {
  position: relative;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
  background-color: #00000080;
  border-radius: 8px;
}
.modal__image-container {
  padding: 16px;
}
@media screen and (max-width: 360px) {
  .modal__container {
    margin: 10px;
    padding: 10px;
  }
  .modal__save-btn {
    margin: 24px 0 0;
    max-width: none;
    width: 100%;
  }
  .modal__title {
    font-size: 20px;
    margin: 12px 0;
    border-radius: 8px;
  }
  .modal__image-container {
    margin: 0;
    object-fit: contain;
  }
  .modal__caption {
    margin: 8px 0 0;
    border-radius: 8px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
  .modal__image {
    max-width: unset;
    min-width: 288px;
    margin: 0;
  }

  .modal__caption {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}
@media screen and (max-width: 472px) {
  .modal__container {
    margin: 10px;
    padding: 10px;
  }
  .modal__save-btn {
    margin: 24px 0 0;
    max-width: none;
    width: 100%;
  }
  .modal__title {
    font-size: 20px;
    margin: 12px 0;
    border-radius: 8px;
  }
  .modal__image-container {
    margin: 0;
    object-fit: contain;
  }
  .modal__caption {
    margin: 8px 0 0;
    border-radius: 8px;
  }

  .modal__close-image {
    top: 12px;
    right: 12px;
  }
  .modal__image {
    max-width: unset;
    min-width: 288px;
    margin: 0;
  }

  .modal__caption {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
  }
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
}
@media screen and (max-width: 630px) {
  .modal__close-btn_type_preview {
    top: -48px;
    right: 0;
  }
  .modal__image {
    max-width: unset;
  }
}
