.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: visibility 0.3s linear, opacity 0.3s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal_is-opened {
  visibility: visible;
  transition: visibility 0.3s linear, opacity 0.3s ease-out;
}
.modal__container {
  max-width: 730px;

  background-color: #fff;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  border-radius: 8px;
  padding: 32px 50px;
}

.modal__close-btn {
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  align-self: center;
  position: absolute;
  top: 32px;
  right: 50px;
  cursor: pointer;
}
.modal__close-btn:hover {
  opacity: 40%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: #212121;
}

.modal__label {
  margin: 0 0 32px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;

  color: #212121b2;
}
.modal__input {
  display: block;
  box-sizing: border-box;
  margin: 8px 0 0;
  border: 1px solid #21212166;

  padding: 16px 12px;
  border-radius: 8px;
  border-width: 1px;
  max-width: none;
  width: 100%;
}
.modal__input::placeholder {
  color: #2121214d;
}
.modal__save-btn {
  max-width: 156px;
  height: 52px;
  padding: 18px 32px;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.modal__save-btn:hover {
  opacity: 40%;
}
@media screen and (max-width: 630px) {
  .modal {
    max-width: 630px;
  }
  .modal__container {
    margin: 10px;
    padding: 10px;
  }
  .modal__save-btn {
    margin: 24px 0 0;
    max-width: none;
    width: 100%;
  }
  .modal__title {
    font-size: 20px;
    margin: 12px 0 0;
  }
  .modal__label {
    margin: 24px 0 0;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
}
