.profile {
  display: flex;
  align-content: center;
  margin: auto;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}
.profile__column {
  display: flex;
  flex-direction: column;

  height: 190px;
  width: 420px;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}
.profile__name {
  margin: 0 0 12px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}
.profile__description {
  margin: 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.profile__edit-btn {
  margin-top: auto;
  width: 108px;
  height: 16px;
  display: flex;
  border: none;

  opacity: 0.7;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  background-color: #fcf5e5;
  color: #212121;
  padding: 0;
  gap: 8px;
}

.profile__add-btn {
  display: flex;
  width: 149px;
  height: 52px;
  margin-left: auto;
  margin-top: auto;
  background: #212121;
  color: #fcf5e5;
  opacity: 1;
  border-radius: 8px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
